<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css"/>	
		<title>Devine un nombre</title>
	</head>
	<body onload="document.guessForm.guess.focus()">
		<h3>Hello <span th:text="${player.name}">Machin</span>, devine mon nombre</h3>
		<div th:if="${game.attempts > 0}">
			<!--/* Si on a fait au moins un essai */-->
			Essai n° <b th:text="${game.attempts}">7</b><br/>
			<span th:text="${game.guess}">99</span> : 
			<b th:if="${game.guess > game.target}">Trop haut</b>
			<b th:if="${game.guess < game.target}">Trop bas</b>			
		</div>
		<h2>je pense à un nombre compris entre 0 et <span th:text="${game.max}">99</span></h2>
		<form name="guessForm" method="POST" th:action="@{guess}" action="#">
			<label>Ta proposition : <input type="number" min="0" max="100" required name="guess"/></label> 
			<input type="SUBMIT" value="Deviner" /><br/>
		</form>
		<a th:href="@{logout}" href="loginForm.html">Déconnexion</a>
		<hr/>
		<!--/* cf. https://www.baeldung.com/spring-thymeleaf-3-expressions */-->
		<h2 th:unless="${#strings.isEmpty(best.playerName)}">
			Score à battre : <span th:text="${best.bestScore}">8</span> essais 
			par <span th:text="${best.playerName}">Stallone</span>
		</h2>
		<hr/>
		<h3>Code source</h3>
		<ul>
			<li><a href="https://bitbucket.org/rbastide/devineunnombrespringmvc/src/master/src/main/resources/templates/guessNumber.html"         target="_blank">Cette vue</a></li>
			<li><a href="https://bitbucket.org/rbastide/devineunnombrespringmvc/src/master/src/main/java/devine/controller/DevineController.java"  target="_blank">Le contrôleur</a></li>
		</ul>					
	</body>
</html>
