<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css"/>	
		<title>Devine un nombre</title>
	</head>
	<body>
		<h1>Bienvenue dans notre jeu !</h1>
		<form method="POST" th:action="login" action="#">
			<label>Ton prénom : <input name="playerName" /></label>
			<input value="Connexion" type="SUBMIT" />
		</form>
		<hr/>
		<h3>Code source</h3>
		<ul>
			<li><a href="https://bitbucket.org/rbastide/devineunnombrespringmvc/src/master/src/main/resources/templates/loginForm.html"         target="_blank">Cette vue</a></li>
			<li><a href="https://bitbucket.org/rbastide/devineunnombrespringmvc/src/master/src/main/java/devine/controller/DevineController.java"  target="_blank">Le contrôleur</a></li>
		</ul>							
	</body>
</html>
