<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css"/>	
		<title>Devine un nombre</title>
	</head>
	<body>
		<h3>Bravo <span th:text="${player.name}">Machin</span>, 
			tu as gagné en <span th:text="${game.attempts}">8</span> coups !</h3>
		<a th:href="@{playAgain}" href="guessNumber.html">Rejouer</a>
		<a th:href="@{logout}" href="loginForm.html">Déconnexion</a>
		<h3>Code source</h3>
		<ul>
			<li><a href="https://bitbucket.org/rbastide/devineunnombrespringmvc/src/master/src/main/resources/templates/winGame.html"              target="_blank">Cette vue</a></li>
			<li><a href="https://bitbucket.org/rbastide/devineunnombrespringmvc/src/master/src/main/java/devine/controller/DevineController.java"  target="_blank">Le contrôleur</a></li>
		</ul>							
	</body>
</html>
